

<span class='address'>

  <h3><%= address.nickname %><h3>
  <h4><%= address.default if address.default == true %><h4>
  <p><%=  address.address  %></p>
  <p><%=  address.city     %></p>
  <p><%=  address.state    %></p>
  <p><%=  address.zip      %></p>

</span>
